.herosection {
    width: 100%;
}

.herosection-i {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.imgdiv{
    overflow: hidden;
}

.imgdiv img {
    width: auto;
    height: min(400px);
    overflow: hidden;
}

.herosection-text {
    margin-bottom: 80px;
    overflow: hidden;
}

.herosection-text span {
    color: black;
    font-size: 50px;
    font-style: "Poppins";
    font-weight: 500;
    overflow: hidden;
}

.herosection-text span::nth-child(2) {
    color: #E94057;
}

.Ellipse2 {
    width: 223.20px;
    height: 223.20px;
    left: -100px;
    top: 450px;
    position: absolute;
    background: rgba(255, 45, 114, 0.29);
    border-radius: 9999px;
    filter: blur(100px);
}

.div-dcs{
    display: none;
}

@media screen and (max-width:1038px) {

    .herosection-text {
        margin-left: 60px;
    }
}

@media screen and (max-width:955px) {
    
    .herosection-i{
        gap: 30px;
    }
}

@media screen and (max-width:850px) {
    
    .herosection-i{
        gap: 10px;
    }

    .herosection-text {
        margin-left: 20px;
    }
}

@media screen and (max-width:762px) {
    
    .herosection-i{
        gap: 0px;
    }

    .imgdiv img{
        width: auto;
        height: min(350px);
    }

    .herosection-text {
        margin-bottom: 50px;
    }
    
}
@media screen and (max-width:700px) {
    
    .herosection-i{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }

    .imgdiv{
        margin-bottom: 50px;
    }

    .imgdiv img{
        width: 320px;
        height: 341px;
    }

    .herosection-text{
        width: 100%;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-top: 20px;
        display: flex;
        justify-content: center;

    }

    .herosection-text span {
        color: black;
        font-size: 32px;
        font-family: "Poppins";
        font-weight: 500;
    }
}

@media screen and (max-height:532px) and (min-height:392px) {
    .imgdiv{
        margin-bottom: 0px;
    }

    .imgdiv img{
        width: 220px;
        height: 241px;
    }

    .herosection-text span {
        font-size: 22px;
    }

    .herosection-text{
        margin-top: 0px;
    }
}

@media screen and (max-height:391px){
    .imgdiv{
        margin-bottom: 0px;
    }

    .imgdiv img{
        width: 160px;
        height: 181px;
    }

    .herosection-text span {
        font-size: 18px;
    }

    .herosection-text{
        margin-top: 0px;
    }
}

.first-div{
    overflow: hidden;
}

.text1{
    position: absolute;
    left: 5%;
    margin-top: 20px;
    color: black; 
    font-size: 40px; 
    font-family: "Poppins"; 
    font-weight: 500; 
    word-wrap: break-word;
    padding: 0% 5% 0%;
}

@media screen and (max-width:700px){

    .text1{
        font-size: 32px;
    }
}

.div-dc{
    display: flex;
    justify-content: center;
    padding: 10% 5% 0%;
    
}

.div-dc img{
    width: auto;
    height: max(460px);
}

@media screen and (max-width:855px) {
    .div-dc img{
        width: auto;
        height: max(320px);
    }

    .div-dc{
        padding: 15% 5% 0%;
    }
}

@media screen and (max-width:550px){
    
    .div-dc{
        display: none;
    }

    .div-dcs{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30% 10% 0%;
    }

    .div-dcs img{
        width: auto;
        height: max(450px);
    }
}

@media screen and (max-width:390px) {
    
    .div-dcs{
        padding: 35% 10% 0%;
    }

    .div-dcs img{
        width: auto;
        height: min(350px);
    }
}

.sec-div{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sec-div-text1{
    color: black; 
    font-size: 40px;
    font-family: "Poppins"; 
    font-weight: 500; 
    word-wrap: break-word;
    text-align: center;
}

.sec-div-text2{
    color: rgba(0, 0, 0, 0.60); 
    font-size: 26px; 
    font-family: "Poppins"; 
    font-weight: 400; 
    text-align: center;
}

@media screen and (max-width:700px){
    .sec-div-text1{
        font-size: 32px;
    }

    .sec-div-text2{
        font-size: 22px;
    }
}

@media screen and (max-width:500px) {
    
    .sec-div-text2{
        font-size: 14px;
    }
}

.joinusp{
    margin-left: 5%;
    width: 70%;
    color: black;
    font-size: 32px;
    font-style: "Poppins";
    font-weight: 500;
    overflow: hidden;
    text-align: left;
}


.joinus-container{
    display: flex;
    flex-direction: row;
}

.joinus-container img{
    position: relative;
    top: -100px;
}

@media screen and (max-width:700px) {
    .joinusp{
        font-size: 26px;
    }

    .joinus-container img{
        width: 150px;
        height: 150px;
        margin-left: 24px;
    }
}

@media screen and (max-width:500px) {
    .joinusp{
        position: relative;
        top: -60px;
    }
}

@media screen and (max-width:400px){
    .joinus-container img{
        top: -100px;
    }

    .joinusp{
        width: 100%;
    }
}

@media screen and (max-width:350px) {
    .joinus-container{
        flex-direction: column-reverse;
    }

    .joinus-container img{
        right: -180px;
        width: 100px;
        height: 100px;
    }
}


.outer-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.4s ease-in;
    background-color: #ffffff;
}

input[type=radio] {
    display: none;
}

.container {
    width: 100%;
    max-width: 50%;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card {
    position: absolute;
    width: 100%;
    height: 70%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
    overflow: hidden;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

#item-1:checked~.cards #sliderimage-4,
#item-2:checked~.cards #sliderimage-5,
#item-3:checked~.cards #sliderimage-1,
#item-4:checked~.cards #sliderimage-2,
#item-5:checked~.cards #sliderimage-3 {
    transform: translateX(-60%) scale(.7);
    opacity: .1;
    z-index: 1;
}

#item-1:checked~.cards #sliderimage-5,
#item-2:checked~.cards #sliderimage-1,
#item-3:checked~.cards #sliderimage-2,
#item-4:checked~.cards #sliderimage-3,
#item-5:checked~.cards #sliderimage-4 {
    transform: translateX(-40%) scale(.8);
    opacity: .8;
}

#item-1:checked~.cards #sliderimage-2,
#item-2:checked~.cards #sliderimage-3,
#item-3:checked~.cards #sliderimage-4,
#item-4:checked~.cards #sliderimage-5,
#item-5:checked~.cards #sliderimage-1 {
    transform: translateX(40%) scale(.8);
    opacity: .8;
    z-index: 3;
}

#item-1:checked~.cards #sliderimage-3,
#item-2:checked~.cards #sliderimage-4,
#item-3:checked~.cards #sliderimage-5,
#item-4:checked~.cards #sliderimage-1,
#item-5:checked~.cards #sliderimage-2 {
    transform: translateX(60%) scale(.7);
    opacity: .1;
    z-index: -2;
}

#item-1:checked~.cards #sliderimage-1,
#item-2:checked~.cards #sliderimage-2,
#item-3:checked~.cards #sliderimage-3,
#item-4:checked~.cards #sliderimage-4,
#item-5:checked~.cards #sliderimage-5 {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 5;
}

#item-1:checked~.cards #sliderimage-1 img,
#item-2:checked~.cards #sliderimage-2 img,
#item-3:checked~.cards #sliderimage-3 img,
#item-4:checked~.cards #sliderimage-4 img,
#item-5:checked~.cards #sliderimage-5 img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

/* Control buttons */
.control-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 20px;
    cursor: pointer;
}

.indicator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: absolute;
    top: 66%;
}

.indicator1,
.indicator2,
.indicator3,
.indicator4,
.indicator5 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #999999;
    margin: 0 5px;
}

.indicator1.active,
.indicator2.active,
.indicator3.active,
.indicator4.active,
.indicator5.active {
    background-color: #E94057;
}

@media screen and (max-width:500px) {
    .card {
        height: 50%;
    }

    .cards {
        margin-bottom: 1px;
    }

    .indicator-container {
        margin-top: 1px;
    }

}